<%=@movie.title%>
<%=@movie.creation_year%>
<%=@movie.genre%>

<%@movie.actors_sorted_by_age.each do |actor|%>
<%= actor.name%>
<%end%>
<%= @movie.actors.average(:age)%>

<%= form_with model: @actor, local: true do |form| %>
<p>
  <%= form.label :name %><br>
  <%= form.text_field :name %>
</p>

<p>
  <%= form.submit %>
</p>

<% end %>